<div class="container mt-5">
  <div class="card shadow-sm p-4">
    <h3 class="mb-4">📝 Cadastro de Funcionário</h3>

    <form (ngSubmit)="cadastrarFuncionario(form)" #form="ngForm">
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          name="nome"
          placeholder="Nome do Funcionário"
          [(ngModel)]="funcionario.nomeFuncionario"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">CPF</label>
        <input class="form-control" type="text" [(ngModel)]="funcionario.cpf"
                       (input)="formatCpf()"
                       name="cpf" placeholder="000.000.000-00" required/>
      </div>
      <div class="mb-3">
        <label class="form-label">Data de Nascimento</label>
        <input
          type="date"
          class="form-control"
          name="dataNascimento"
          [(ngModel)]="funcionario.dataNascimento"
          required
        />
      </div>

      <!-- ddl etipoUsuario -->

      <div class="mb-3">
        <label class="form-label">Tipo de Usuário</label>
        <select class="form-select" name="tipoUsuario" [(ngModel)]="funcionario.tipoUsuario" required>
          <option value="">Selecione...</option>
          <option *ngFor="let tipo of tiposUsuarios" [value]="tipo.value">{{ tipo.label }}</option>
        </select>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Cadastrar</button>
    </form>

        <div *ngIf="showMessage" class="alert alert-success position-relative mt-3" style="padding-bottom: 4px;">
          {{mensagem}}
          <div class="progress-bar-fine" [style.width.%]="progress"></div>
      </div>
  </div>
</div>
