<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
    <h4 class="text-center mb-4">Alterar Senha</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="novaSenha" class="form-label">Nova Senha</label>
        <div class="input-group">
          <input
            [type]="senhaVisivel ? 'text' : 'password'"
            id="novaSenha"
            class="form-control"
            formControlName="novaSenha"
            placeholder="Digite a nova senha"
          />
          <button class="btn btn-outline-secondary" type="button" (click)="toggleSenhaVisivel()">
            <i class="bi" [class.bi-eye]="!senhaVisivel" [class.bi-eye-slash]="senhaVisivel"></i>
          </button>
        </div>

        
        <div *ngIf="form.get('novaSenha')?.invalid && form.get('novaSenha')?.touched" class="text-danger mt-1">
          A senha deve ter no mínimo 6 caracteres.
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid">
        Salvar Nova Senha
      </button>
    </form>
  </div>
</div>
